<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBKDiwN-e-IbAHL9o7O74VpXq1vZO9F9s</string>
	<key>GCM_SENDER_ID</key>
	<string>941370544087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melissaeb.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-8a576</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-8a576.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941370544087:ios:e461da7c1a9a253f45c592</string>
</dict>
</plist>